

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    
	<!-- 
https://cdnjs.cloudflare.com/ajax/libs/linq.js/2.2.0.2/jquery.linq.js
https://cdnjs.cloudflare.com/ajax/libs/linq.js/2.2.0.2/jquery.linq.min.js
https://cdnjs.cloudflare.com/ajax/libs/linq.js/2.2.0.2/linq.js 
-->
    <script data-require="jquery" data-semver="3.0.0" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.js"></script>
    <script data-require="bootstrap" data-semver="4.0.0-alpha.2" src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
	<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	
    
	<link data-require="bootstrap-css" data-semver="4.0.0-alpha.4" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
    <link data-require="bootstrap@*" data-semver="4.0.0-alpha.2" rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" />
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
    <!-- Le javascript
    ================================================== -->

	
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/r/bs-3.3.5/jq-2.1.4,dt-1.10.8//media/css/jquery.dataTables.css">
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<!-- <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"> -->
	
	
	
	<style type="text/css" class="init">
	
	</style>
<script>
    $( document ).ready(function() {
        LoadNetwork();
		
    
    $("#go").click(function() 
    { 
        OnGoClick();
    });}
	);


var networks;
var buffers;

var searchResults;

function GetNetwork(networkId)
{
    var tab = networks.filter(item => { return item.NetworkId = networkId; });
    if (tab.length > 0)
        return tab[0];
}

function LoadNetwork() 
{
	/*
	var select = $('#network');
    var selectValues = $('#network-values');
    
    $.getJSON("/api/identity/1", function(data) 
        {
            selectValues.empty();
            networks = data.Networks;
            selectValues.append('<li><span></span></li>');
            $.each(networks, function (index, item) 
            {
				selectValues.append("<li><a href='#'><label for='" + item.NetworkId + "'>" + item.NetworkName + "</label></a></li>");
                select.append('<option value="' + item.BufferId +' "> ' + item.BufferName + '</option>');        
            })
        });
        
    select.change(function() 
    {
        console.log(this.value);
        var network = GetNetwork(this.value);
        
        console.log(network);
        if (network)
            RefreshBuffers(network);    
    });
	*/
	
	var select = $('#network');
	
    $.getJSON("/api/identity/1", function(data) 
        {
            select.empty();
            networks = data.Networks;
			
            select.append('<option></option>');
            $.each(networks, function (index, item) 
            {
				select.append('<option value="' + item.NetworkId +' "> ' + item.NetworkName + '</option>');        
            })
        });
        
    select.change(function() 
    {
        console.log(this.value);
        var network = GetNetwork(this.value);
        
        console.log(network);
        if (network)
            RefreshBuffers(network);    
    });
}
    
    
function RefreshBuffers(network)
{
    var select = $('#buffer');
    
    $.getJSON("/api/network/" + network.NetworkId, function(data)
        {
            select.empty();
            buffers = data.Buffers;
            select.append('<option></option>');
            $.each(buffers, function(idx, item) 
            { 
                select.append('<option value="' + item.BufferId +' "> ' + item.BufferName + '</option>');        
		
    //$select.append("<li><a href='#'><label for='" + item.BufferId + "'>" + item.BufferName + "</label></a></li>");
		//select.append('<li><a value="' + item.BufferId +' "> ' + item.BufferName + '</option>');        
            });         
        });
}

function NewFilter(name, op, val)
{
    var filter = Object();
    filter.name = name;
    filter.op = op;
    filter.val = val;
    return filter;
}

function GetSenderName(ident)
{
	var tab = ident.split("!");
	if (tab.length > 0)
		return tab[0];
	return ident;
}


function htmlEncode(value){
  //create a in-memory div, set it's inner text(which jQuery automatically encodes)
  //then grab the encoded contents back out.  The div never exists on the page.
  return $('<div/>').text(value).html();
}
 
function GetDateFormat(row)
{
	var d = new Date(0);
	d.setUTCSeconds(row.Time);
	var opts =  {
		year: "numeric",
		month: "numeric",
		day: "numeric",
		hours: "2-digits",
		minutes: "2-digits",
		seconds: "2-digits",
	};

	var locale = window.navigator.userLanguage || window.navigator.language;
	var date = d.toLocaleTimeString('fr-FR', opts);
	return "[" + date + "]";
}

function GetSender(row)
{
	var sender = GetSenderName(row.Sender.SenderIdent);
	
	return  htmlEncode("<" + sender + ">");

}
  
function GetDataTable()
{
	if (searchResults == null || $.fn.dataTables.isDataTable(searchResults) == false)
	{
		searchResults = $('#searchResults').DataTable({
			"processing": true,
			"serverside": true,
			"deferLoading": 0, // here
			ajax: {
				dataSrc: "objects",
			},
			columns: [
				{ "data" : function(row, type, val, meta)
					{
						return GetDateFormat(row);
					}
				},
				{ "data" : function(row, type, val, meta) 
					{
						return GetSender(row);
					}
				},
				{ "data" : "Message"},
			],
		});
	}		
	
	return searchResults;
}
function AttachOnClickToSearchResults()
{
	console.log('sr' + searchResults);
	$('#searchResults tbody').on( 'click', 'tr', function () {
		var data = searchResults.row( this ).data();
		console.log(data);
		
		var target = '/api/backlog?q=' + QueryBacklogDetails(data, "<");
		console.log('target: ' + target);
		$.getJSON(target, 
			function(beforeDetails)
			{
				query = QueryBacklogDetails(data, ">=");
				target= '/api/backlog?q=' + query;
				console.log('target: ' + target);
				$.getJSON(target, 
					function(afterDetails)
					{
						var details = beforeDetails.objects;
						details = details.concat(afterDetails.objects);
						console.log(details);
						
						var log = "";
						details.forEach(function(msg) {
							
							log += GetDateFormat(msg) + " <" + GetSenderName(msg.Sender.SenderIdent) + "> " + msg.Message + "\n";
							
						})
						$("#logDetails").val(log);
					});
				
					
			});
		});
}

function QueryBacklogDetails(message, op)
{
	var query = {
		filters: [
			NewFilter("MessageId", op, message.MessageId),
			NewFilter("BufferId", '==', message.BufferId),
		],
		limit: 50,
		order_by= {
			"field": "MessageId",
			"direction": op.contains("<") ? "desc" : "asc";
		},
	}
	var json = JSON.stringify(query, space=0);		
	console.log(json);
	return json;
}
	
function OnGoClick()
{    
    var searchText = $("#searchText").val().trim();
	
    var bufferId = $("#buffer").val();
	
    
    if (bufferId == null || searchText.length == 0)
	{
		console.log("invalid request");
		return ;
	}
	
	searchText = "%" + searchText + "%";
    query = new Object();
    query.filters = [
            NewFilter("BufferId", "==", bufferId),
            NewFilter("Message", "ilike", encodeURIComponent(searchText)),
        ];
        
    var queryJson = JSON.stringify(query);
    
	searchResults = GetDataTable();	
	searchResults.ajax.url("/api/backlog?q=" + queryJson).load(function() {
		AttachOnClickToSearchResults();	
	});
	
	
}

</script>

<div>


{{form.csrf_token}}

<!-- 
 <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          SALUT
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div>

 -->
 

<!-- <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="#">HTML</a></li>
    <li><a href="#">CSS</a></li>
    <li><a href="#">JavaScript</a></li>
  </ul>
</div> -->

<label for="network"> Network: </label>
 <select id="network" name="network">

</select>
<!--  <div class="network">
         <button type="button" class="btn btn-default dropdown-toggle" data-toggle="network" aria-expanded="false"></button>
        <ul class="dropdown-menu" aria-labelledby="network" id="network-values">
        </ul>
</div>    -->
<p>

	 

<label for="buffer"> Channel: </label> 


<!-- 
 <div class="dropdown">
         <button id="network" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" id="buffer">
			Select Items <span class="caret"></span>
		</button>
        <ul class="dropdown-menu" aria-labelledby="network" id="buffer-values">
        </ul>
</div>    -->


 <select id="buffer" name="buffer">

</select>

<p>
<label for="searchText"></label>
<input id="searchText">
 
<button id="go" type="button">Go</button>

<p>

<div id="searchPanel" class="container " >

<table id="searchResults"  class="table-hover table-striped" cellspacing="0">
   
  <tbody>
  </tbody>
 </table>
 </div>
 
 <div>


<textarea readonly id="logDetails" style="width: 100%; height: 100%; border: none" width="100%">
</textarea>

</div>





